################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01. C# Language Basics/01. Creating First C# App using Visual Studio/MyFirstApp/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/01. C# Language Basics/01. Creating First C# App using Visual Studio/.vs/MyFirstApp/FileContentIndex/e754e4e6-a2be-40bc-b5fa-41a8e587548b.vsidx
